<div class="text-center">
    <h3>Credits</h3>
    <p>The following resources were used to list the theme and lesson for each mystery:</p>

    <div>
        <h5>Wikipedia: Rosary</h4>
        <a href="https://en.wikipedia.org/wiki/Rosary" target="_blank">https://en.wikipedia.org/wiki/Rosary</a>
    </div>
    <br />
    <div>
        <h5>Loyola Press - Mysteris of the Rosary</h5>
        <a href="https://www.loyolapress.com/catholic-resources/prayer/traditional-catholic-prayers/prayers-honoring-mary/mysteries-of-the-rosary/" target="_blank">https://www.loyolapress.com/catholic-resources/prayer/traditional-catholic-prayers/prayers-honoring-mary/mysteries-of-the-rosary/</a>
    </div>
</div>