<div class="text-center">
    <h3>Dedication</h3>
</div>
<div class="text-center">
    <img src="/img/mom_memorial.jpg" />
</div>
<div class="text-center">
    <p>My mother, Aurora Lozano, passed away on August 19th, 2020 due to COVID-19 complications. She prayed the Holy Rosary daily for members of our family, friends, acquaintences, and so on.
        I am dedicating this simple "app" for her and her love of the Rosary. Please use this as a tool to learn the mysteries and the prayers of the Holy Rosary. I will updating this site with more resources and features to help in your faith journey.</p>
    <p>May God and our Lord Jesus Christ protect you and your family.</p>
    <p>Sincerely,</p>
    <p>Javier G. Lozano (<a href="https://twitter.com/jglozano" target="_blank">@@jglozano</a>)</p>
</div>
<hr />
<div class="text-center">
    <h3>Resources</h3>
    <p>The following resources were used to list the theme and lesson for each mystery:</p>
    <div>
        <h5>Wikipedia: Rosary</h4>
        <a href="https://en.wikipedia.org/wiki/Rosary" target="_blank">https://en.wikipedia.org/wiki/Rosary</a>
    </div>
    <br />
    <div>
        <h5>Loyola Press - Mysteris of the Rosary</h5>
        <a href="https://www.loyolapress.com/catholic-resources/prayer/traditional-catholic-prayers/prayers-honoring-mary/mysteries-of-the-rosary/" target="_blank">https://www.loyolapress.com/catholic-resources/prayer/traditional-catholic-prayers/prayers-honoring-mary/mysteries-of-the-rosary/</a>
    </div>
</div>
